.App-title {
  text-align: center;
  margin: 40px;
}
.card {
  margin: 20px 0;
  height: 400px;
  overflow: auto;

  border-radius: 10px !important;
  box-shadow: 5px 5px 10px #bfbebe;
}
.card-title {
  text-align: left;
}
.card-body {
  text-align: justify;
}
.Article {
  text-align: center;
}
